@import "bootstrap";
@import "utilities";
//@import "../images/spriting/*.png";
//@include all-spriting-sprites;

body {
    background: #fafafa url('../images/sample/bgnoise.gif');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 65px;
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.main {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.logo {
  font-size: 200%;
  line-height: 15px;
}

.pull-left {
  float: left;
}

.pull-right{
  float: right;
}

.display-i {
  display: inline;
}

.display-b {
  display: block;
}

.display-ib {
  display: inline-block;
}

.t-caps {
  text-transform: uppercase;
}

.t-dark {
  color: #333;
}

.t-black {
  color: black !important;
}

.t-small {
  font-size: 30%;
}

h1,h2,h3,h4,h5,h6,
.navbar-brand,
.navbar-nav,
.breadcrumb {
  font-family: "ff-dagny-web-pro",sans-serif;
}

.breadcrumb a {
  color: #333;
}

body, p {
  font-family: "Georgia";
}

p {
  font: 18px/26px "Georgia",serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

.navbar-default {
  border: none;
  background: none;
}

.navbar-collapse {
  &.in {
    margin-top: 10px;
  }
}
@media (min-width: $grid-float-breakpoint) {
  .navbar-collapse {
    &.in {
      margin-top: 0px;
    }
  }
}

.navbar-nav {
  background: white;
  margin-top: 0;
  padding-left: 10px;
  @media (min-width: $grid-float-breakpoint) {
    background: none;
  }
  & > li {
    //margin-top: 5px;
    & > a {
      font-size: 16px;
      .caret {
        margin-top: -5px;
      }
    }
  }

}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.list-group-item {
  color: #555555;
}

.list-group-item {
  background-color: #f8f8f8;
}

.legend-unit {
  margin-bottom: 10px;
  .glyphicon {
    width: 25px;
  }
  .legend-text {
    max-width: 85%;
  }
}

.thumbnail .caption {
  line-height: 1.1;
}


.site-search {
  font-family: "Georgia";
  border-radius: 0px;
  background: none;
  border: #ccc solid 1px;
  @include box-shadow(none);
  height: 26px;
  padding: 3px 5px;
  font-style: italic;
  margin-top: 3px;
  font-size: 16px;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 14px;
  }
  &:focus {
    cursor: text;
    border: solid 1px #DDD;
    @include box-shadow(none);
    border: #ccc solid 1px;
  }
}

.navbar-nav {
  & > li > a {
    padding-left: 13px;
    padding-right: 13px;
  }
  li.search {
    form {
      width: 90%;
      margin: 0px 0 10px 10px;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-nav {
    float: right !important;
    li {
      & > .dropdown-menu li a {
        padding: 10px;
      }
      & > a {
        padding: 15px 10px 15px 10px;
      }
    }


    li.search {
      form {
        margin: 8px 0 0 0;
        width: auto;
      }
    }
  }
}

.navbar-fixed-top {
  .navbar-brand {
    padding-top: 14px;
    @media (min-width: $grid-float-breakpoint) {
      padding-top: 10px;
    }
    span {
      @media (min-width: $grid-float-breakpoint) {
        font-size: 28px;
      }
      font-size: 20px;
    }
  }
  .inner-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0px 0 2px;
  }
  background: #fff;
  hr {
    margin: 5px 16px 5px 16px;
    border-top: solid 1px #ddd;
  }
  .navbar-header {
    margin-left: 15px;
    margin-right: 15px;
  }
  .collapse {
    margin-right: 15px;
  }
  .navbar-toggle {
    margin-top: 12px;
    padding: 5px;
    .icon-bar {
      width: 19px;
    }
    &:focus {
      outline: none;
    }
  }
}

.list-group {
  &.no-separation {
    .list-group-item {
      background: none;
      border: none;
      padding: 5px 0;
    }
  }
}

.swipe-nav {
  li {
    float: left;
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 12px;
    background: #ccc;
    border: solid 1px #fff;
    margin: 0 5px 0 0;
    &.active {
      background: #333;
    }
    &:hover {
      background: #555;
    }
  }
}

.slide {
  margin-left: -25px;
  max-width: 100%;
  img {
    max-width: 100%;
  }
}

.calendar-menu {
  li.calendar-item {
    & > a {
      white-space: normal;
      span {
        display: inline-block;
        float: left;
        &.date {
          width: 100%;
        }
        &.details {
          color: black;
        }
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .calendar-menu {
    width: 400px;
    li.calendar-item {
      & > a {
        width: 100%;
        display: inline-block;
        padding: 5px 10px !important;
        span {
          &.date {
            min-width: 88px;
          }
          &.details {
            //padding: 0 10px 0 0;
          }
        }
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .stills {
    .thumbnail {
      background: black;
      img {
        max-height: 500px;
        padding: 15px;
      }
      .caption {
        background: white;
      }
    }
  }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:50%;
  position: relative;
}