<div class="collapse phn" id="search">
  <form action="search">
    <div class="form-group pal">
      <div class="mbm">
        <button type="button" class="close pbm pull-left" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>

      <input type="text" class="form-control site-search h3 pvl phm" placeholder="Search...">
      <button type="sumit" class="h3 btn btn-lg btn-default btn-block mtm">Search</button>
    </div>
  </form>
</div>