<div class="row">
  <div class="col-md-12">
    <form role="form">
      <div class="form-group mbn">
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <input type="email" class="form-control site-search" id="exampleInputEmail1" placeholder="&nbsp;">
      </div>
    </form>
  </div>
</div>