{{> head}}
    <body>
    <div class="main phm pbm">
      {{> main-header}}
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb mbn pln ptxs pbn t-caps pull-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Screenings</a></li>
            <li><a href="#">Spring 2013</a></li>
          </ol>
        </div>
      </div>
      <hr class="mbn mtm">
      <div class="row">
        <div class="col-md-12">
          <h1 class="t-caps mbm mtxl">We Began by Measuring Distance</h1>
          <h2 class="mtm mbxl"> A Selection of Works Made in and Around Palestine by Basma Alsharif and CAMP</h2>
          <hr class="mtm mbl">
          <div class="row mts">
            <div class="col-md-6 mbxs">
              <div class="mlxs mrs h4 legend-unit">
                <span class="glyphicon glyphicon-calendar display-ib pull-left"></span>
                <span class="display-ib legend-text">Nov. 8 + 9 – 7:30pm</span>
              </div>
            </div>
            <div class="col-md-6 mbxs">
              <div class="mlxs mrs h4 legend-unit">
                <span class="glyphicon glyphicon-user display-ib pull-left"></span>
                <span class="display-ib legend-text">Artist in Attendance</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row mbs">
            <div class="col-md-6 mbs">
              <div class="mlxs mrs h4 legend-unit">
                <span class="glyphicon glyphicon-usd display-ib pull-left"></span>
                <span class="display-ib legend-text">Suggested Donation ($7)</span>
              </div>
            </div>
            <div class="col-md-6 mbs">
              <div class="mlxs mrs h4 legend-unit">
                <span class="glyphicon glyphicon-map-marker display-ib pull-left"></span>
                <span class="display-ib legend-text">Ampersand Gallery & Fine Books, 2916 NE Alberta St</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mbxl mtn hidden-md hidden-lg">
      <div class="row">
        <div class="col-sm-12">
          <div data-slider class="swipe stills ">
            <div class="swipe-wrap">
              <div>
                <div class="thumbnail mbxs pan">
                  <img src="images/HOME%20MOVIES_1.jpg" alt=""/>
                  <div class="caption pbxs">
                    <div class="mbxs t-s-100"><span>"Home Movies Gaza" by Basma Alsharif</span></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="thumbnail mbxs pan">
                  <img src="images/HOME%20MOVIES_2.jpg" alt=""/>
                  <div class="caption pbxs">
                    <div class="mbxs t-s-100"><span>"Home Movies Gaza" by Basma Alsharif</span></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="thumbnail mbxs pan">
                  <img src="images/basma-poster.jpg" alt=""/>
                  <div class="caption pbxs">
                    <div class="mbxs t-s-100"><span>Poster by Heather Lane</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mtm mlxs">
          <ol class="swipe-nav nav" data-slider-nav>
            <li data-slide-to="0" class="active"></li>
            <li data-slide-to="1" class=""></li>
            <li data-slide-to="2" class=""></li>
          </ol>
        </div>
      </div>
      <div class="row mtm">
        <div class="col-md-8">
          <div class="mbn">
            <h4 class="h3 t-caps mtxs mbm">About This Screening</h4>
            <p>
              With a skillful play between moving images, text, translation and voice, the media work of Basma Alsharif calls out the viewer’s position of watching, asking us to reconsider the certainty with which we know the world. Alsharif’s practice evinces an interest in how people relate to and internalize geopolitical shifts that occur within their lifetimes, and those they carry with them from past generations. Weaving structural visual codes with material archives, her aim is to decentralize content and produce work that operates through a multi-vantage perspective, thereby transforming information into a visceral experience. The Neighbour Before the House by collective CAMP is a series of video probes into the landscape of East Jerusalem. Shot with a security camera, these images show that before and after  instrumental “surveillance,” there is inquisitiveness, jest, memory, desire and doubt that pervades the project of watching. In these specific times and places, camera movements and live commentary become ways in which Palestinian residents evaluate what can be seen, and speak about the nature of their distance from others.
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h5 class="h2">November 8</h5>
              <hr class="mvxs">
              <ul class="list-group no-separation">
                <li class="list-group-item">
                  <h6 class="h4 mbxs">Farther Than The Eye Can See</h6>
                  <span class="gray">UAE, 2013, video, color, sound, 13 min.</span>
                </li>
                <li class="list-group-item">
                  <h6 class="h4 mbxs">The Neighbour Before the House / Al Jaar Qabla Al Daar / by CAMP</h6>
                    <span class="gray">Jerusalem, 2009, video, PTZ (pan-tilt-zoom) CCTV camera with manual joystick control, 8 locations, color, sound, 60 min.</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5 class="h2">November 9</h5>
              <hr class="mvxs">
              <ul class="list-group no-separation">
                <li class="list-group-item">
                  <h6 class="h4 mbxs">Everywhere Was the Same by Basma Alsharif</h6>
                  <span class="gray">USA, 2007, video, color, sound, 11 min.</span>
                </li>
                <li class="list-group-item">
                <h6 class="h4 mbxs">We Began by Measuring Distance by Basma Alsharif</h6>
                <span class="gray">Egypt, 2009, video, color, sound, 19 min.</span>
              </li>
                <li class="list-group-item">
                  <h6 class="h4 mbxs">Turkish Delight by Basma Alsharif</h6>
                  <span class="gray">Jordan, 2010, video, color, sound, 2.5 min.</span>
                </li>
                <li class="list-group-item">
                  <h6 class="h4 mbxs">The Story of Milk and Honey by Basma Alsharif</h6>
                  <span class="gray">Lebanon, 2011, video, color, sound, 10 min.</span>
                </li>
                <li class="list-group-item">
                  <h6 class="h4 mbxs">Home Movies Gaza by Basma Alsharif</h6>
                  <span class="gray">Palestine, 2013, video, color, sound, 24 min.</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="h3">Links & Media</h5>
          <ul class="list-group">
            <a href="#" class="list-group-item"><span class="h5">basmaalsharif.com</span></a>
            <a href="#" class="list-group-item"><span class="h5">A vimeo link</span></a>
            <a href="#" class="list-group-item"><span class="h5">A youtube link</span></a>
            <a href="#" class="list-group-item"><span class="h5">Program notes</span></a>
            <a href="#" class="list-group-item"><span class="h5">Program poster</span></a>
          </ul>
          <h5 class="h3 mtxl">This Season - Spring 2013</h5>
          <div class="list-group mbxl">
            <a href="#" class="list-group-item">
              <span class="h5">About the season</span>
            </a>
            <a href="#" class="list-group-item"><span class="h5">Undefeated</span></a>
            <a href="#" class="list-group-item"><span class="h5">JJ Murphy and Andy Warhol</span></a>
            <a href="#" class="list-group-item"><span class="h5">We Began by Measuring Distance</span></a>
            <a href="#" class="list-group-item"><span class="h5">Differently Molusia and Soviets Plus Electricity</span></a>
            <a href="#" class="list-group-item"><span class="h5">What the Water Said</span></a>
          </div>
          <hr class="mvm">
          {{> sidebar}}
        </div>
      </div>
    <hr>
    {{> footer}}
    </div>
    {{> footer-scripts}}
</body>
</html>
