{{> head}}
<body>
{{> search}}
<div class="main phm pbm">
  {{> main-header}}
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb mbn pln ptxs pbn t-caps pull-left">
        <li><a href="#">Home</a></li>
        <li><a href="#">Screenings</a></li>
        <li class="active"><a href="#">2013 - 2012</a></li>
      </ol>
    </div>
  </div>
  <hr class="mbn mts">
  <div class="row">
    <div class="col-md-12">
      <h1 class="t-caps mvl">Screening Archive</h1>
      <!--<h2 class="mvm"> A Selection of Works Made in and Around Palestine by Basma Alsharif and CAMP</h2>-->
      <hr class="mvm">
    </div>
  </div>
  <div class="row mtxs">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3 col-xs-6 col-sm-3 mvxs mbm">
          <a href="" class="h3">2013 - 2012</a>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-3 mvxs mbm">
          <a href="" class="h3">2011 - 2010</a>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-3 mvxs mbm">
          <a href="" class="h3">2009 - 2008</a>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-3 mvxs mbm">
          <a href="" class="h3">2007 - 2006</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-6 col-sm-3 mvxs mbm">
          <a href="" class="h3">2005 - 2004</a>
        </div>
      </div>
      <hr class="mvs">
      <!--<div class="mbn">-->
        <!--<p>-->
          <!--Say something about the archive here...-->
        <!--</p>-->
      <!--</div>-->
      <div class="row">
        <!--<div class="col-md-12">-->
          <!--<h2 class="mtxs">2013</h2>-->
          <!--<hr class="mts mbn">-->
        <!--</div>-->
        <div class="col-md-6">
          <h2 class="h1 mtm mbl">Fall 2013</h2>
          <ul class="list-group">
            <a href="#" class="list-group-item">
              <div class="thumbnail calendar mbn">
                <img src="images/fall-2013.jpg" alt=""/>
              </div>
            </a>
            <a href="#" class="list-group-item"><h4>Undefeated</h4></a>
            <a href="#" class="list-group-item"><h4>JJ Murphy and Andy Warhol</h4></a>
            <a href="#" class="list-group-item"><h4>We Began by Measuring Distance</h4></a>
            <a href="#" class="list-group-item"><h4>Differently Molusia and Soviets Plus Electricity</h4></a>
            <a href="#" class="list-group-item"><h4>What the Water Said</h4></a>
          </ul>
        </div>
        <div class="col-md-6">
          <h2 class="h1 mtm mbl">Spring 2013</h2>
          <ul class="list-group">
            <a href="#" class="list-group-item">
              <div class="thumbnail calendar mbn">
                <img src="images/fall-2012-back-cropped.jpg" alt=""/>
              </div>
            </a>
            <a href="#" class="list-group-item"><h4>Two Years at Sea</h4></a>
            <a href="#" class="list-group-item"><h4>"Circle in the Sand" and Other Recent Work by Michael Robinson</h4></a>
            <a href="#" class="list-group-item"><h4>Thom Andersen & Morgan Fisher</h4></a>
            <a href="#" class="list-group-item"><h4>Spiritual Visions in Modern Dance: Sybil Shearer</h4></a>
            <a href="#" class="list-group-item"><h4>We Are Winning, Don't Forget: Short Works by Jean-Gabriel Périot</h4></a>
            <a href="#" class="list-group-item"><h4>Picture in Picture</h4></a>
            <a href="#" class="list-group-item"><h4>Weird Worlds</h4></a>
            <a href="#" class="list-group-item"><h4>"Wavemakers" by Caroline Martel</h4></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {{> sidebar}}
    </div>
  </div>
  <hr>
  {{> footer}}
</div>
{{> footer-scripts}}
</body>
</html>
