{{> head}}
<body>
{{> search}}
<div class="main phm pbm">
  {{> main-header}}
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb mbn pln ptxs pbn t-caps pull-left">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">Screenings</a></li>
      </ol>
    </div>
  </div>
  <hr class="mbn mts">
  <div class="row">
    <div class="col-md-12">
      <h1 class="t-caps mvm">Fall 2011</h1>
      <!--<h2 class="mvm"> A Selection of Works Made in and Around Palestine by Basma Alsharif and CAMP</h2>-->
      <hr class="mvm">
    </div>
  </div>
  <div class="row mtxs">
    <div class="col-md-8">
      <div class="thumbnail">
        <img src="images/fall-2011-spread.jpg" alt=""/>
      </div>
      <div class="row">
        <div class="col-md-12">
<p>We did it! Ten years of Cinema Project. What a sweet decade of experimental cinema in Portland, Oregon. We could not have gotten so far without such amazing community support. Thank you, Portland!</p>
<p>This season we are both humbled and energized—and ready to rally for another ten years. To celebrate the milestone we open the fall season with selections from our program archive, breaking our own rule to never show the same thing twice. It's a vast vault of goodies that frankly we'd love to see all of again. For now we have some repeat selections made by each Cinema Project collective member past and present. Come to the screening and party on September 28th and see if you can guess who picked which piece.</p>
<p>Fall 2013 programming will continue with visiting artist after visiting artist, each of whom has a remarkably unique practice and artistic vision. We’ve catered each program to a specific venue, screening all over the city—even on a boat—so please be sure to check individual program listings and follow us around. Filmmaker and author JJ Murphy will join us in October to present three of his films from the 1970s and then to talk about and present work by Andy Warhol. Early November brings artist Basma Alsharif. Born in Kuwait to Palestinian parents, Alsharif has worked between the US, France, Egypt, Lebanon, Jordan, and the United Arab Emirates on multimedia and single channel installation work. Later in November we are excited to co-host French filmmaker Nicolas Rey along with the Northwest Film Center for two intense nights of 16mm film. And finally, the season sails to a close with a marine science-inspired program featuring work by Jean Painlevé, David Gatten, and visiting Canadian artist and filmmaker, Alex Mackenzie.</p>
<p>In spring 2014 we'll continue the celebration with a book publication that showcases the handmade letterpress posters we have made for our programs as well as a second round of “best of” film and video.</p>
<p>Sometimes it feels like we're just getting started. However, in the spirit of our opening program we remain "Undefeated” and look forward to another ten years of bringing cutting-edge and historically significant avant-garde cinema to you, Portland!</p>        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Screenings</h2>
          <hr class="mvl">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <a class="t-hover-none" href="something.html">
            <h3 class="mbl mtxs h2">September 28th</h3>
            <div class="thumbnail">
              <img src="images/Undefeated-by-Kevin-Everson.jpg" alt="...">
              <div class="caption">
                <h4>Undefeated</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6">
          <a class="t-hover-none" href="something.html">
            <h3 class="mbl mtxs h2">October 7th + 8th</h3>
            <div class="thumbnail">
              <img src="images/SkyBlueWaterLightSign02%20(2).jpg" alt="...">
              <div class="caption">
                <h4>JJ Murphy + Andy Warhol</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {{> sidebar}}
    </div>
  </div>
  <hr>
  {{> footer}}
</div>
{{> footer-scripts}}
</body>
</html>
